<section class="contact">
  <button class="button--close-modal"></button>

  <div class="wrap">
    <div class="contact__wrap">
      <header class="contact__header">
        <h2 class="title">🐙 Dapps</h2>
        <p class="subtitle--light" style="padding-top: 10%;">💸 Buy $OCTO at <a href="https://buy.octo.fi" target="_blank">buy.octo.fi</a> <br><br>🎣 Earn more at <a href="https://earn.octo.fi" target="_blank">earn.octo.fi</a> <br><br>🗳️ Govern DAO at <a href="https://dao.octo.fi" target="_blank">dao.octo.fi</a> <br><br>🦄 Uniswap at <a href="https://uniswap.octo.fi" target="_blank">uniswap.octo.fi</a>
      </header>
    </div>
  </div>
</section>
