<section class="contact">
  <button class="button--close-modal"></button>

  <div class="wrap">
    <div class="contact__wrap">
      <header class="contact__header">
        <h2 class="title">Launching Soon</h2>
        <p class="subtitle--light">We'll tweet when we're live.
        </p>
      </header>
		<p><a href="https://twitter.com/intent/follow?screen_name=octofinance&tw_p=followbutton" class="cta button--fill" target="_blank">Follow Us</a></p>
		<p class="subtitle--light" style="padding-top: 10%;">Prefer an email instead?</p>
     <form method="POST" action="{{ site.data.settings.contact_settings.form_action }}" class="contact__form">

        <div class="input-group">
          <input type="email" name="email" id="email" placeholder="Enter your email address..." />
        </div>

        <input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
        <input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" />
        <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

        <div class="input-submit">
          <input type="submit" class="button--fill" value="{{ site.data.settings.contact_settings.send_button_text }}">
        </div>
      </form>
    </div>
  </div>
</section>
