<section class="contact">
  <button class="button--close-modal"></button>

  <div class="wrap">
    <div class="contact__wrap">
      <header class="contact__header">
        <h2 class="title">Hello, frentacle</h2>
        <p class="subtitle--light" style="padding-top: 10%;">👋 Start here - <a href="https://dyor.octo.fi" target="_blank">dyor.octo.fi</a> <br><br>🛣️ Roadmap - <a href="https://todo.octo.fi" target="_blank">todo.octo.fi</a> <br><br>💬 Telegram - <a href="https://tg.octo.fi" target="_blank">tg.octo.fi</a> <br><br>🎓 Octoversity - <a href="https://help.octo.fi" target="_blank">help.octo.fi</a> <br><br>🦄 Uniswap - <a href="https://uni.octo.fi" target="_blank">uni.octo.fi</a> <br><br>🐙 OctoFi - <a href="https://app.octo.fi" target="_blank">app.octo.fi</a>  <br><br>💌 Join our mailing list below</p>
        <!-- Begin Mailchimp Signup Form -->
		<p class="subtitle--light" style="padding-top: 10%;"><link href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
		</style>
		<div id="mc_embed_signup">
		<form action="https://octo.us17.list-manage.com/subscribe/post?u=20e79608966ad99547f26d330&amp;id=8e313e2bf3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate contact__form" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
			<div class="input-group">
			<input type="email" value="" name="EMAIL" class="input-group" id="mce-EMAIL" placeholder="Your email address" required>
			</div>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_20e79608966ad99547f26d330_8e313e2bf3" tabindex="-1" value=""></div>
			<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="hero__cta button--fill"></div>
			</div>
		</form>
		</div></p>
		<!--End mc_embed_signup-->
      </header>
    </div>
  </div>
</section>
