<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/octowerk.gif' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">About us</h2>
      <p class="subtitle subtitle--light">Send proposals to <a href="mailto:hello@octo.fi">hello@octo.fi</a>
      </p>

      <p>Between us we've got eight limbs and eight years in crypto. We bring salt and pepper and tentacles.</p>

      <a href="" class="hero__cta button--fill contact-trigger js-contact">Get Updates</a>
    </div>
  </div>
</section>
