<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">
	
    <div class="about__image">

      <img src="{{ '/images/octavius.png' | relative_url }}" alt="">
      
    </div>

    <div class="about__content" id="dyor">
	  <div class="about__image">{% include component-socials.html %}</div>
      <h3 class="title">Decentralized Finance <s> Oracles </s> Tentacles? 🤔</h3>
      <p>Our open source, community owned, VC-free DeFi dashboard is just the beginning for OctoFi.</p>
      <p>On top of regular updates to the interface, we're busy building incentivised oracle aggregators that will be kept honest by the community.</p>
      <p>DeFi depends on trustworthy data, so why trust a single oracle when you can trust your friends' appraisals of them ALL?</p>
      <p>Join us to level the playing field and together we can wrap our tentacles around a sea of gains.</p>
		<!-- Begin Mailchimp Signup Form -->
		<link href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
		</style>
		<div id="mc_embed_signup">
		<form action="https://octo.us17.list-manage.com/subscribe/post?u=20e79608966ad99547f26d330&amp;id=8e313e2bf3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate contact__form" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
			<div class="input-group">
			<input type="email" value="" name="EMAIL" class="input-group" id="mce-EMAIL" placeholder="Your email address" required>
			</div>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_20e79608966ad99547f26d330_8e313e2bf3" tabindex="-1" value=""></div>
			<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="hero__cta button--fill"></div>
			</div>
		</form>
		</div>
		<!--End mc_embed_signup-->
    </div>
  </div>
</section>

